<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102591046023-imhdo9cq0ojdf05vh8h2nn6q4406uugc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102591046023-imhdo9cq0ojdf05vh8h2nn6q4406uugc</string>
	<key>API_KEY</key>
	<string>AIzaSyC8_HaqeipPm7ugd45239QLIgl5lalRB0o</string>
	<key>GCM_SENDER_ID</key>
	<string>102591046023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.authlinq.product.gowed</string>
	<key>PROJECT_ID</key>
	<string>gowed-5a98e</string>
	<key>STORAGE_BUCKET</key>
	<string>gowed-5a98e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102591046023:ios:23ca5e555a979e9ae6f322</string>
</dict>
</plist>